@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://samurai.bellt.me/Assets/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

p {
    font-size: 14px;
}

.info-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0;
    margin-bottom: 20px;
}
.info-table th {
    border-width: 1px 1px;
    border-color: lightgray;
    border-style: solid;
    background: lightgray;
    padding: 10px;
}
.info-table td {
    border-width: 1px 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 20px
}

.operation-area{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}
.input-box {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0;
    margin-bottom: 30px;
}
.input-box th {
    border-width: 1px 1px;
    border-color: lightgrey;
    border-style: solid;
    background: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.input-box td {
    border-width: 1px 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 10px
}

#vid-upload-area {
    background: whitesmoke;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}
#vid-upload-area.dragover{
    border: 1px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
    color: white;
}
#vid-upload-icon{
    width: 20%;
}
#vid_file{
    display: none;
}
#vid-file-prv-area{
    margin-bottom: 20px;
    display: none;
    max-width: 100%;
}
input[type="range"] {
    -webkit-appearance: none; /* これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 10px; /* バーの高さ */
    width: 70%; /* バーの幅 */
    background: #8acdff; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 1px #dff1ff; /* バー周囲の線 */
}

/* 項目名 */
.md-checkbox-label {
    display: block;
    margin-bottom: 1rem;
}
/* 選択肢リスト */
.md-checkbox-ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.md-checkbox-ul > li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
/* :beforeでオリジナルのチェックボックス枠を作成 */
.md-checkbox-checkbox + label {
    position: relative;
    padding-top: 2px;
    padding-left: 2rem;
}
/* オリジナルのチェックボックス枠 */
.md-checkbox-checkbox + label::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 16px;
    height: 16px;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    transition: 0.15s;
}
/* オリジナルのチェック */
.md-checkbox-checkbox + label::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    left: 3px;
    width: 0;
    height: 0;
    transform: rotate(-45deg);
    transform-origin: left top;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    visibility: hidden;
}
/* チェックされたらチェックボックス内に色を塗る */
.md-checkbox-checkbox:checked + label::before {
    border: 8px solid black;
}
/* チェックされたらチェックアニメーション開始 */
.md-checkbox-checkbox:checked + label::after {
    animation: md-checkbox-anim .3s forwards;
}
/* チェックアニメーション */
@keyframes md-checkbox-anim {
    0% {
        visibility: visible;
        width: 0;
        height: 0;
    }
    40% {
        visibility: visible;
        width: 0;
        height: 8px;
    }
    100% {
        visibility: visible;
        width: 12px;
        height: 8px;
    }
}

#bone-option{
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}
#bone-option-label:hover{
    cursor: pointer;
    background: whitesmoke;
}
#bone-option.hidden{
    display: none;
}
#dnn-option.hidden{
    display: none;
}
#dnn-option{
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}
#dnn-option-label:hover{
    cursor: pointer;
    background: whitesmoke;
}
.elm-input {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.disc-input {
    font-size: 14px;
    color: gray;
}
.disc-input-cb {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0px;
    color: black;
}
.layer-num {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.btn-main {
    padding: 1em 2em;
    border: 1px solid silver;
    border-radius: 5px;
    color: #000;
    background-color: lightgrey;
}
.btn-main:hover {
    color: #fff;
    background: gray;
    cursor: pointer;
}
.btn-main-upload{
    padding: 1em 2em;
}
.btn-main:disabled {
    color: gray;
    background: lightgrey;
    border: 0;
    cursor: default !important;
}

.main-input-full {
    border: 1px solid grey;
    background: white;
    padding: 10px;
    width: 100%;
}
.main-input-full-text {
    border: 1px solid grey;
    background: white;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.main-input-full:after{
    content:"\f0dc";
    font-family: FontAwesome, serif;
    color: #000;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.main-input-normal {
    border: 1px solid grey;
    background: white;
    padding: 10px;
    max-width: 100%;
}

#output_vid{
    max-width: 100%;
    height: auto;
}
.preview-vid {
    display: none;
}
.caution-info {
    padding: 20px;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}
#status {
    padding: 20px;
    border: 1px solid lightgray;
}

.parent {
    width: 100%;
}
@media (min-width: 950px) {
    .child1 {
        float: left;
        width: 60%;
        padding: 10px;
        box-sizing: border-box;
    }

    .child2 {
        float: right;
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
    }
}
@media (max-width: 1200px) {
    .btn-main{
        margin: 0.5em 0 0.5em 0;
        width: 100%;
    }
}
@media (max-width: 945px) {
    .btn-main{
        margin: 0.5em 0 0.5em 0;
        width: 100%;
    }
    .child1 {
        width: 100%;
    }

    .child2 {
        width: 100%;
    }
}